@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

.projects {
    padding-top: 116px;
    background-color: #058ED9;
    color: #483D3F;
}

.welcome_projects {
    display: flex;
    height: calc(100vh - 104px);
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #F4EBD9;
}

[transition-style="in:circle:hesitate"] {
    animation-delay: 0.75s;
}

#blueprint {
    height: 300px;
    width: 400px;
}

.welcome_projects h2 {
    font-size: 3rem;
}

.sketch {
    font-family: 'Fredericka the Great', cursive;
    font-size: 3.75rem;
}

.projects_section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px 50px;
    background-color: #F4EBD9;
}

.projects_section p {
    font-size: 2rem;
    margin-bottom: 80px;
}

.projects_section .sketch {
    font-size: 3rem;
}

/*Card styles*/
.card {
    width: 20rem;
    margin-bottom: 50px;
    transition: 1s;
}

.card button {
    margin-right: 25px;
}

.projects_section .h5 {
    font-size: 1.75rem;
}

p.card-text {
    font-size: 1.5rem;
}

/*Responsive*/

@media (max-width: 576px) {
    .projects {
        padding-top: 91px;
    }

    .welcome_projects {
        height: calc(100vh - 91px)
    }

    #blueprint {
        height: 200px;
        width: auto;
    }
    .welcome_projects h2 {
        font-size: 1.5rem;
    }

    .welcome_projects span {
        font-size: 1.75rem;
    }

    .projects_section {
        padding-top: 50px;
    }

    .projects_section p {
        font-size: 1.25rem;
        margin-bottom: 50px;
        text-align: justify;
    }

    .projects_section .sketch {
        font-size: 1.5rem;
    }
}

@media (min-width: 577px) and (max-width: 768px) {

    #blueprint {
        height: 250px;
        width: auto;
    }
    .welcome_projects h2 {
        font-size: 1.85rem;
    }

    .welcome_projects span {
        font-size: 2.25rem;
    }

    .projects_section p {
        font-size: 1.5rem;
        margin-bottom: 50px;
        text-align: justify;
    }

    .projects_section .sketch {
        font-size: 1.85rem;
    }
}

@media (min-width: 769px) and (max-width: 992px) {

    #blueprint {
        height: 275px;
        width: auto;
    }
    .welcome_projects h2 {
        font-size: 2.25rem;
    }

    .projects_section {
        padding-top: 50px;
    }

    .welcome_projects span {
        font-size: 2.75rem;
    }

    .projects_section p {
        font-size: 1.75rem;
        margin-bottom: 50px;
        text-align: justify;
    }

    .projects_section .sketch {
        font-size: 2rem;
    }
}

