.navbar {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    background-color: #058ED9;
    z-index: 2;
}

.links {
    display: inline-flex;
    padding: 0;
    margin: 0;
}

.links li {
    list-style: none;
    padding-right: 5rem;
    line-height: 100px;
}

.links a {
    text-decoration: none;
    text-transform: uppercase;
    color: #F4EBD9;
}

#logo_w {
    height: 100px;
    padding-left: 10px;
}

/*Responsive*/
@media (max-width: 330px) {
    #logo_w {
        display: none;
    }

    .links {
        justify-content: space-around;
        width: 100vw;
    }

        .links li {
        padding: 0;
        line-height: 75px;
        font-size: 0.7rem;
    }
}

@media (min-width:331px) and (max-width: 450px) {
    .links li {
        padding-right: 1.5rem;
        line-height: 75px;
        font-size: 0.7rem;
    }
    
    #logo_w {
        height: 55px;
    }
}

@media (min-width: 451px) and (max-width: 650px) {
    .links li {
        padding-right: 2rem;
        line-height: 75px;
        font-size: 0.8 rem;
    }
    
    #logo_w {
        height: 70px;
    }
}