.contact_main {
    background-color: #483D3F;
    padding-top: 116px;
    padding-left: 125px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    box-sizing:border-box;
}

.contact_h2 {
    margin-top: 125px;
}

.contact_description {
    height: calc(100vh - 116px);
    min-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.contact_options {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 25px;
}

.contact_options h3 {
    font-size: 1.25rem;
    margin-bottom: 0;
    margin: 0 10px;
    color: #F4EBD9;
    text-shadow: -3px 3px 3px black;
}

.arrow_l, .arrow_r {
    display: flex;
    align-items: center;
}

.arrow_r img, .arrow_l img {
    height: 75px;

}

.form {
    background-color: #F4EBD9;
    border-radius: 15px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    padding: 15px;
    width: 65vh;
}
    [transition-style='in:polygon:opposing-corners'] {
        --transition__duration: 3.5s;
    }

.contact_description {
    text-align: center;
    width: 30%
}

.contact_description h2 {
    font-size: 4rem;
    color: #F4EBD9;
    text-shadow: -5px 5px 5px black;
}

#touch {
    font-family: 'Licorice', cursive;
    font-weight: 550;
    font-size: 8rem;
    color: #88D3FB;
    margin-top: 15px;
}

.form label {
    color: #483D3F;
    font-weight: bold;
}

/*Responsive*/

@media (max-width: 576px) {
    .contact_main {
        flex-direction: column;
        padding-left: 0;
        padding-top: 0;
        margin-top: 91px;
        height: calc(100vh - 91px);
        justify-content: flex-start;
    }

    .contact_description {
        width: 100%;
        align-items: center;
        height: fit-content;
    }

    .contact_h2 {
        margin: 25px 0;
    }

    .contact_h2 h2  {
        font-size: 1.75rem;
        display: inline-block;
    }

    #touch {
        font-size: 3.5rem;
        margin-left: 10px;
    }

    .contact_options {
        display: none;
    }

    .form {
        width: 80%;
    }

    .form label {
        font-size: 0.85rem;
    }

    .mb-3 {
        padding-bottom: 0.05rem;
    }
}
    @media (max-height: 720px) {
        .form {
            max-height: 300px;
            overflow: scroll;
        }
    }

@media (min-width: 577px) and (max-width: 768px) {
    .contact_main {
        flex-direction: column;
        padding-left: 0;
        padding-top: 0;
        margin-top: 116px;
        height: calc(100vh - 116px);
        justify-content: space-evenly;
    }

    .contact_description {
        width: 100%;
        height: fit-content;
    }

    .contact_h2 {
        margin: 0;
    }

    .contact_h2 h2  {
        font-size: 3rem;
        display: inline-block;
    }

    #touch {
        font-size: 5rem;
        margin-left: 10px;
    }

    .contact_options {
        display: none;
    }

    .form {
        width: 80%;
        margin-top: -100px;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .contact_main {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .contact_description {
        width: 100%;
        height: fit-content;
    }

    .contact_h2 {
        margin: 0;
    }

    .contact_h2 h2  {
        font-size: 3rem;
        display: inline-block;
    }

    #touch {
        font-size: 5rem;
        margin-left: 10px;
    }

    .contact_options {
        display: none;
    }

    .form {
        width: 65%;
        margin-top: -100px;
    }
}

@media (min-width: 993px) {
    .contact_description {
        height: fit-content;
    }

    .contact_h2 {
        margin: 0;
    }

    .contact_h2 h2  {
        font-size: 4rem;
    }

    #touch {
        font-size: 7rem;
        margin-left: 10px;
    }

    .contact_options {
        display: none;
    }

    .form {
        width: 40%;
        margin-right: 70px;
    }
}

