.sidebar {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    height: 100vh;
    position: fixed;
    left: 0;
    z-index: 3;
    background-color: #F4EBD9;
    padding: 0 10px;
}

#logo {
    height: 100px;
}

.link-icons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

i {
    margin-bottom: 30px;
    font-size: 2rem;
    color: #0675B1;
}


