.sidebar {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    height: 100vh;
    position: fixed;
    left: 0;
    z-index: 3;
    background-color: #F4EBD9;
    padding: 0 10px;
}

#logo {
    height: 100px;
    margin-top: 10px;
}

.link-icons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

i {
    margin-bottom: 30px;
    font-size: 2rem;
    color: #0675B1;
}

/*Smartphone*/
@media (max-width: 800px) {
    .sidebar {
        position: fixed;
        bottom: 0px; 
        height: auto;
        width: 100vw;
        flex-direction: row;
        padding: 5px 0;
    }
    
    #logo {
        display: none;
    }
    
    .link-icons {
        flex-direction: row;
        justify-content: space-evenly;
        height: auto;
        width: 100%;
    }

    .link-icons a {
        height: 55%;
    }
    
}